@*@model IEnumerable<HawkerFinder.Models.HawkerDistance>*@

@{
    ViewData["Title"] = "Close Hawkers";
}

<h2>Checkout these nearby places to eat</h2>

@{
    if(ViewBag.BadResponseMessage != null) {
        <h2>There was an error on the server:</h2>
        <h4>@ViewBag.Exception</h4>
    } else {
        <h2>Here are the five closest hawker centres to @ViewBag.SearchAddress</h2>
    }
}

<div id="Map" style="width: 500px; height: 500px">
</div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC6v5-2uaq_wusHDktM9ILcqIrlPtnZgEk"></script>
    <script type="text/javascript">
        var markers = @Html.Raw(ViewBag.Markers);
        window.onload = function () {
            var mapOptions = {
                center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
                zoom: 12,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var infoWindow = new google.maps.InfoWindow();
            var map = new google.maps.Map(document.getElementById("Map"), mapOptions);
            
            // Origins, anchor positions and coordinates of the marker increase in the X
            // direction to the right and in the Y direction down.
            var image = {
                url: 'https://www.shareicon.net/data/32x32/2016/04/26/755677_food_512x512.png',
                // This marker is 32 pixels wide by 32 pixels high.
                size: new google.maps.Size(32, 32),
                // The origin for this image is (0, 0).
                origin: new google.maps.Point(0, 0),
                // The anchor for this image is the base of the strawberry at (0, 32).
                anchor: new google.maps.Point(0, 32)
            };
            for (i = 0; i < markers.length; i++) {
                var data = markers[i]
                var myLatlng = new google.maps.LatLng(data.lat, data.lng);
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: data.title,
                    icon: image
                });
                (function (marker, data) {
                    google.maps.event.addListener(marker, "click", function (e) {
                        infoWindow.setContent(data.description);
                        infoWindow.open(map, marker);
                    });
                })(marker, data);
            }
        }
    </script>