@{
    ViewData["Title"] = "Index";
}

<a asp-area="" asp-controller="Address" asp-action="SeeAll">View all Hawker Centres</a>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Find closest Hawkers</h1>
    <p class="lead">Simply input a location or your x-y coordinates</p>
  </div>

  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary active">
      <input type="radio" name="options" id="option1" autocomplete="off" checked> By Coordinates
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="option2" autocomplete="off"> By Location
    </label>
  </div>

  <div class="container">
    <form action="/Address/CloseHawkers" method="POST">
      <div class="form-row">
        <div class="col-sm-6">
          <label for="givenLatitude">Latitude</label>
          <input class="form-control" type="number" name="givenLatitude" step=0.10 value=1.30 >
        </div>
        <div class="col-sm-6">
          <label for="givenLongitude">Longitude</label>
          <input class="form-control" type="number" name="givenLongitude" step=0.10 value=103.00>
        </div>
      </div>
      <div class="form-row">
        <div class="col-sm-2">
          <input type="submit" class="form-control btn btn-primary" value="Submit">
        </div>
      </div>
    </form>
  </div>
</div>