@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron jumbotron-fluid jumbo-bg" >
  <div class="bg-img"></div>
  <div class="container">
    <h1 class="display-4">Find closest Hawkers</h1>
    <p class="lead">Simply input your x-y coordinates</p>
  </div>

  <div class="container">
    <form action="/Address/CloseHawkers" method="POST">
      <div class="form-row">
        <div class="col-sm-6">
          <label for="givenLatitude">Latitude</label>
          <input class="form-control" type="number" name="givenLatitude" step=0.10 value=1.30 >
        </div>
        <div class="col-sm-6">
          <label for="givenLongitude">Longitude</label>
          <input class="form-control" type="number" name="givenLongitude" step=0.10 value=103.00>
        </div>
      </div>
      <div class="form-row">
        <div class="col-sm-2">
          <input type="submit" class="form-control btn btn-primary" value="Submit">
        </div>
      </div>
    </form>
  </div>
</div>