@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron jumbotron-fluid jumbo-bg" >
    <div class="bg-img"></div>
    <div class="container">
        <h1 class="display-4">Hungry? Find closest Hawkers</h1>
        <p class="lead">Simply input your location</p>
    </div>
    <div class="container">
        <form action="/Address/CloseHawkersAsync" method="POST">
            <div class="form-row">
                <div class="col-sm-12">
                    <label for="address">Address</label>
                    <input class="form-control" type="text" name="address" placeholder="Raffles Place" >
                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-2">
                    <input class="form-control btn btn-primary" type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
    <br />
    <br />
    <div class="container">
        <form action="/Address/ReverseGeocode" method="POST">
            <div class="form-row">
                <div class="col-sm-6">
                    <label for="rvgLat">Latitude</label>
                    <input class="form-control" type="text" name="rvgLat" placeholder="1.30" >
                </div>
                <div class="col-sm-6">
                    <label for="rvgLng">Longitude</label>
                    <input class="form-control" type="text" name="rvgLng" placeholder="103.00" >
                </div>
            </div>
            <div class="form-row">               
                <div class="col-sm-2">
                    <input class="form-control btn btn-primary" type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
</div>

  